/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: black;
  color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  align-items: flex-end;
}

h1 {
  margin-top: 2rem;
  display: inline-block;
}
